.slider {
    z-index: 9;
    width: 700px;
    height: 290px;
    overflow: hidden;
    margin: 0 0 7px;
    position: relative;
}
.slider ul,
.slider li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.slider ul {
    width: 9999px;
}
.slider ul li {
    list-style-type: none;
    float: left;
    width: 700px;
    height: 290px;
}
.slider .nav {
    position: absolute;
    left: 15px;
    bottom: 12px;
}
.slider .nav span {
    opacity: 0.9;
    background: #fff;
    margin: 0 8px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    float: left;
    box-shadow: 0 1px 2px #000;
}
.slider .nav span.on {
    background: #2e9419;
}
#1{
    width: 90px;
    height: 650px;
    background-color: grey;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    font-family: 'Oswald', sans-serif;
}
.box {
    display: inline-block;
    height: 3030px;
    width: 250px;
    border-radius: 5px;
    background-color: grey;
    margin-top: 10px;
}
.square{
    display: inline-block;
    height: 150px;
    width: 220px;
    background-color: white;
    border-radius: 5px;
    margin-left: 15px;
    padding-top: 100px;
}
#line{
    width: 180px;
    height: 2px;
    background-color: grey;
    margin-left: 20px;
    margin-bottom: 80px;
}
#text{
    font-size: 25px;
    margin-left: 65px;
}
#header{
    margin-top: -80px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 35px;
}
#line1{
    width: 180px;
    height: 2px;
    background-color: grey;
    margin-left: 20px;
    margin-bottom: 80px;
}
#text1{
    font-size: 25px;
    margin-left: 65px;
}
#header1{
    margin-bottom: 30px;
    margin-left: 65px;
    font-size: 35px;
}
#line2{
    width: 180px;
    height: 2px;
    background-color: grey;
    margin-left: 20px;
    margin-bottom: 80px;
}
#text2{
    font-size: 25px;
    margin-left: 65px;
}
#header2{
    margin-top: -80px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 35px;
}
.settings{

}
